#app {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  background-color: black;
}

.navbar {
  position: absolute;
  border-radius: 0px;
  border: none;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  z-index: 2;
  font-family: 'Satisfy', cursive;
  user-select: none;
}
.navlink {
  cursor: pointer;
  user-select: none;
}
.navbar-static-top {
  position: fixed;
  top: 0px;
  width: 100%;
}

#main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_bg.png");
  background-size: cover;
  background-color: black;
}
#name {
  position: fixed;
  top: 20%;
  left: 0px;
  height: 40%;
  width: 100%;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Sacramento', cursive;
  user-select: none;
  cursor: default;
}
