#location {
  position: absolute;
  top: 200%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/location_bg.png");
  background-size: cover;
}
#locationMessage {
  max-width: calc( 100% - 25vw - 15px );
}
#locationMap {
  height: 25vw;
  width: 25vw;
  float: left;
}

#funThingsSubPage {
  position: fixed;
  top: 200%;
  left: 100%;
  width: 100%;
  height: 100%;
  background-image: url("../images/location_bg.png");
  background-size: cover;
}

#travelInfoSubPage {
  position: fixed;
  top: 200%;
  left: 200%;
  width: 100%;
  height: 100%;
  background-image: url("../images/location_bg.png");
  background-size: cover;
}
