#weddingDetails {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/wedding_details_bg.jpg");
  background-size: cover;
}
#weddingMessage {
  max-width: calc( 100% - 25vw - 15px );
}
#locationMap {
  height: 25vw;
  width: 25vw;
  float: right;
}
